<custom-header title="Cursos" subtitle="Estão cadastrados todos os cursos do sistema." labelButton="Cadastrar Curso"
  (clickButton)="openDialogCurso()" [downloadPdf]="true" (clickDownloadPdf)="downloadCursoPdf()">
</custom-header>

<div class="row justify-content-center ">

  <div class="col align-self-center">
    <custom-input placeholder="Código" type="number" [control]="filters.get('codigo')">
    </custom-input>
  </div>

  <div class="col align-self-center">
    <custom-input placeholder="Curso" [control]="filters.get('descricao')">
    </custom-input>
  </div>

</div>

<custom-table [columns]="columns" [showPagination]="true" [pageLength]="pageLength" [dataTable]="dataSource"
  (eventClickRow)="openDialogCurso($event)" (actionChangePage)="requestData($event)" [columnsAction]="columnsActTable"
  (actionEvent)="deleteCurso($event)">
</custom-table>
