<mat-dialog-content>
  <custom-card [title]="edit? 'Editar Aluno':'Cadastrar Aluno'">

    <div class="row justify-content-center">
      <div class="col">
        <div class="row justify-content-center align-items-center">
          <div class="col">
            <custom-input placeholder="Nome" [control]="form.get('nome')"></custom-input>
          </div>
          <div class="col">
            <custom-select style="min-width: 400px; margin-top: 20px;" [control]="form.get('cursos_codigo')"
              placeholder="Lista de Cursos" [options]="cursosSelect" multiple [hasSelectAll]="true">
            </custom-select>
          </div>
        </div>
      </div>
    </div>

  </custom-card>

  <div class="row justify-content-end pt-3">
    <div class="col-auto">
      <button mat-raised-button color="warn" class="closeBtn" [mat-dialog-close]>Fechar</button>
      <button mat-raised-button color="primary" (click)="saveOrEditAluno(edit)">Salvar</button>
    </div>
  </div>
</mat-dialog-content>
